In [96]:
import pandas as pd

In [97]:
training_df = pd.read_csv(r'C:\Users\peter\Downloads\vegis_traindata.csv')

In [98]:
# Neues Feature = Aspect Ration
aspectratio_df = training_df.loc[:]['Hight']/training_df.loc[:]['Width']
training_df['Aspect ratio'] = aspectratio_df
col = training_df.pop('Aspect ratio')
training_df.insert(loc=3, column='Aspect ratio', value=col)


training_df = training_df.drop(columns=['Unnamed: 0', 'Image'])
training_df.head()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
0,174,111,1.567568,121,98,76,0,0,0.747411,0.740759,39,12.664070,Kartoffel
1,97,65,1.492308,109,84,50,0,0,0.785250,0.812063,18,7.130874,Kartoffel
2,139,124,1.120968,144,118,84,0,0,0.826178,0.791622,36,5.622304,Kartoffel
3,90,61,1.475410,108,80,44,0,0,0.782149,0.816098,14,10.524947,Kartoffel
4,73,50,1.460000,110,83,46,0,0,0.764247,0.810826,11,6.394969,Kartoffel

In [99]:
Karotte_df = training_df.loc[training_df['Label']=='Karotte']
Karotte_df.shape

(401, 13)

In [100]:
Kartoffel_df = training_df.loc[training_df['Label']=='Kartoffel']
Kartoffel_df.shape

(496, 13)

In [101]:
Zwiebel_df = training_df.loc[training_df['Label']=='Zwiebel']
Zwiebel_df.shape

(445, 13)

In [102]:
Karotte_Trieb_df = training_df.loc[training_df['Label']=='Karotte_Trieb']
Karotte_Trieb_df.shape

(357, 13)

In [103]:
Kartoffel_Trieb_df = training_df.loc[training_df['Label']=='Kartoffel_Trieb']
Kartoffel_Trieb_df.shape

(245, 13)

In [104]:
Zwiebel_Trieb_df = training_df.loc[training_df['Label']=='Zwiebel_Trieb']
Zwiebel_Trieb_df.shape

(193, 13)

In [105]:
Zeile1_df = Karotte_df.describe().iloc[1:3]

In [106]:
Zeile2_df = Kartoffel_df.describe().iloc[1:3]

In [107]:
Zeile3_df = Zwiebel_df.describe().iloc[1:3]

In [108]:
Zeile4_df = Karotte_Trieb_df.describe().iloc[1:3]

In [109]:
Zeile5_df = Kartoffel_Trieb_df.describe().iloc[1:3]

In [110]:
Zeile6_df = Zwiebel_Trieb_df.describe().iloc[1:3]

In [111]:
Overview_df = pd.concat([Zeile1_df,Zeile2_df,Zeile3_df,Zeile4_df,Zeile5_df,Zeile6_df])
Overview_df.insert(loc=0, column='Klasse', value = ['Karotte','Karotte','Kartoffel','Kartoffel','Zwiebel','Zwiebel','Karotte_Gruen','Karotte_Gruen','Kartoffel_Trieb','Kartoffel_Trieb','Zwiebel_Trieb','Zwiebel_Trieb'])
Overview_df.head(12)

,Klasse,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints
mean,Karotte,222.892768,61.214464,4.182153,134.366584,84.177057,48.089776,34.246883,115.284289,0.550131,0.292904,30.431421,7.636423
std,Karotte,42.939213,24.997678,1.946815,25.771550,20.463530,19.797902,134.072206,498.853625,0.250927,0.150963,18.220481,4.403209
mean,Kartoffel,111.016129,87.639113,1.284700,107.270161,81.125000,46.856855,3.540323,0.227823,0.762981,0.800146,31.719758,12.663905
std,Kartoffel,46.386995,35.381568,0.274077,30.707081,25.602567,18.556539,33.813427,1.907590,0.138956,0.114850,34.825628,11.934832
mean,Zwiebel,151.566292,123.233708,1.292243,120.653933,80.044944,56.337079,9.528090,2.224719,0.542308,0.585236,56.608989,7.751903
std,Zwiebel,40.075922,40.501632,0.331148,23.314280,20.481540,18.927876,50.002317,16.390198,0.303746,0.235575,37.528847,2.763085
mean,Karotte_Gruen,244.848739,141.442577,2.106349,105.523810,93.773109,61.775910,3418.792717,4173.873950,0.298454,0.195170,193.761905,4.728721
std,Karotte_Gruen,35.638393,53.407540,1.189393,24.912377,19.353499,14.907399,2649.517237,2649.018668,0.214323,0.112420,107.251185,0.888287
mean,Kartoffel_Trieb,153.171429,121.236735,1.303273,122.995918,95.910204,60.767347,0.053061,6.346939,0.657355,0.615555,63.975510,6.894475
std,Kartoffel_Trieb,35.259623,35.230405,0.246100,17.206675,17.633336,16.322033,0.385762,34.258869,0.228296,0.214316,32.322647,2.744413
mean,Zwiebel_Trieb,210.082902,115.077720,1.885767,97.901554,81.937824,64.170984,1203.880829,897.243523,0.392608,0.271568,59.046632,6.841760
std,Zwiebel_Trieb,52.040182,27.979702,0.517908,21.030871,17.732570,17.317103,1838.066449,1173.605621,0.208716,0.155803,20.797959,1.509396

In [112]:
#Overview_df.to_excel(r'C:\Users\peter\Downloads\Dataanalysis.xlsx')