In [527]:
import pandas as pd

In [528]:
training_df = pd.read_csv(r'C:\Users\peter\Downloads\vegis_traindata.csv')

In [529]:
aspectratio_df = training_df.loc[:]['Hight']/training_df.loc[:]['Width']
training_df['Aspect ratio'] = aspectratio_df
col = training_df.pop('Aspect ratio')
training_df.insert(loc=3, column='Aspect ratio', value=col)
training_df = training_df.drop(columns=['Unnamed: 0', 'Image'])
training_df.head()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
0,174,111,1.567568,121,98,76,0,0,0.747411,0.740759,39,12.664070,Kartoffel
1,97,65,1.492308,109,84,50,0,0,0.785250,0.812063,18,7.130874,Kartoffel
2,139,124,1.120968,144,118,84,0,0,0.826178,0.791622,36,5.622304,Kartoffel
3,90,61,1.475410,108,80,44,0,0,0.782149,0.816098,14,10.524947,Kartoffel
4,73,50,1.460000,110,83,46,0,0,0.764247,0.810826,11,6.394969,Kartoffel

In [530]:
Kartoffel_df = training_df.loc[training_df['Label']=='Kartoffel']
Kartoffel_df.shape

(496, 13)

In [531]:
Kartoffel_df.tail()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
491,157,105,1.495238,133,94,37,0,2,0.789627,0.828521,53,6.568505,Kartoffel
492,145,125,1.160000,133,94,37,0,2,0.793903,0.877719,92,4.480368,Kartoffel
493,168,108,1.555556,133,94,37,0,2,0.804729,0.810320,66,6.692062,Kartoffel
494,170,111,1.531532,133,94,37,0,2,0.797218,0.810607,50,6.807048,Kartoffel
495,189,125,1.512000,139,99,42,0,1,0.800021,0.819792,54,7.271576,Kartoffel

In [532]:
Karotte_df = training_df.loc[training_df['Label']=='Karotte']
Karotte_df.shape

(401, 13)

In [533]:
Karotte_df.head()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
496,222,46,4.826087,106,53,16,0,0,0.783735,0.390154,28,5.181095,Karotte
497,191,54,3.537037,107,55,18,0,0,0.657989,0.412602,17,8.642259,Karotte
498,197,43,4.581395,106,55,17,0,0,0.747550,0.367295,19,7.289601,Karotte
499,169,30,5.633333,105,55,15,0,0,0.700690,0.303333,13,7.598333,Karotte
500,255,72,3.541667,105,55,15,0,0,0.441503,0.105725,26,5.469208,Karotte

In [534]:
Karotte_df.tail()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
892,255,63,4.047619,120,63,32,0,0,0.151852,0.012660,28,5.359788,Karotte
893,254,30,8.466667,164,81,44,0,0,0.046457,0.065543,13,18.014148,Karotte
894,254,30,8.466667,172,84,44,0,0,0.049738,0.061503,10,5.420228,Karotte
895,256,60,4.266667,164,81,42,0,0,0.194238,0.027265,30,6.969342,Karotte
896,254,41,6.195122,171,87,48,0,0,0.002881,0.034937,26,6.494766,Karotte

In [535]:
Zwiebel_df = training_df.loc[training_df['Label']=='Zwiebel']
Zwiebel_df.shape

(445, 13)

In [536]:
Zwiebel_df.head()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
897,125,70,1.785714,116,71,52,0,0,0.647600,0.497062,29,7.931567,Zwiebel
898,100,97,1.030928,91,58,56,0,29,0.658969,0.448148,29,12.216910,Zwiebel
899,108,103,1.048544,127,85,60,0,0,0.780295,0.826132,38,16.189532,Zwiebel
900,115,104,1.105769,118,77,53,0,0,0.615217,0.330286,22,16.265382,Zwiebel
901,141,101,1.396040,125,100,80,0,2,0.362615,0.112285,25,9.326496,Zwiebel

In [537]:
Zwiebel_df.tail()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
1337,121,115,1.052174,152,108,56,0,0,0.818900,0.809375,54,6.165821,Zwiebel
1338,159,135,1.177778,126,71,28,0,0,0.742278,0.699777,57,7.139864,Zwiebel
1339,198,174,1.137931,126,71,28,0,0,0.170687,0.048412,74,4.888065,Zwiebel
1340,175,166,1.054217,139,80,38,0,0,0.816902,0.797058,89,5.834362,Zwiebel
1341,180,175,1.028571,139,80,38,0,0,0.305492,0.080122,71,6.591067,Zwiebel

In [538]:
Karotte_Trieb_df = training_df.loc[training_df['Label']=='Karotte_Trieb']
Karotte_Trieb_df.shape

(357, 13)

In [539]:
Karotte_Trieb_df.head()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
1342,218,193,1.129534,114,115,65,6055,7727,0.286638,0.123343,191,5.095671,Karotte_Trieb
1343,268,128,2.093750,137,108,74,811,2487,0.227597,0.085667,120,4.054723,Karotte_Trieb
1344,277,57,4.859649,141,117,65,468,766,0.374596,0.175744,30,7.999467,Karotte_Trieb
1345,251,78,3.217949,139,116,76,4,234,0.311395,0.150145,42,7.153118,Karotte_Trieb
1346,255,182,1.401099,139,116,76,4,234,0.000452,0.264270,326,3.992141,Karotte_Trieb

In [540]:
Karotte_Trieb_df.tail()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
1694,290,94,3.085106,123,84,43,3799,2559,0.576504,0.331437,187,3.740013,Karotte_Trieb
1695,251,140,1.792857,103,93,55,5973,7300,0.412678,0.158397,327,4.351434,Karotte_Trieb
1696,259,66,3.924242,139,98,59,792,1335,0.353574,0.167309,37,3.862132,Karotte_Trieb
1697,209,50,4.180000,158,108,68,79,163,0.626411,0.348655,24,7.385927,Karotte_Trieb
1698,180,44,4.090909,160,106,72,11,23,0.700442,0.374617,22,8.709106,Karotte_Trieb

In [541]:
Kartoffel_Trieb_df = training_df.loc[training_df['Label']=='Kartoffel_Trieb']
Kartoffel_Trieb_df.shape

(245, 13)

In [542]:
Kartoffel_Trieb_df.head()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
1892,127,109,1.165138,135,105,65,0,0,0.773351,0.689840,45,9.460806,Kartoffel_Trieb
1893,83,76,1.092105,102,73,38,0,0,0.686668,0.702530,51,3.762227,Kartoffel_Trieb
1894,133,94,1.414894,139,111,76,0,0,0.773956,0.842726,54,9.755714,Kartoffel_Trieb
1895,130,83,1.566265,106,73,37,0,0,0.689944,0.572343,39,3.567680,Kartoffel_Trieb
1896,120,116,1.034483,106,73,37,0,0,0.770869,0.829777,62,12.565482,Kartoffel_Trieb

In [543]:
Kartoffel_Trieb_df.tail()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
2132,126,76,1.657895,117,88,49,0,0,0.821168,0.720998,44,5.291746,Kartoffel_Trieb
2133,164,104,1.576923,126,95,48,0,0,0.685595,0.602414,73,4.673951,Kartoffel_Trieb
2134,151,79,1.911392,115,87,52,0,0,0.763811,0.623197,45,4.362924,Kartoffel_Trieb
2135,127,71,1.788732,119,91,52,0,0,0.000721,0.667829,43,5.440125,Kartoffel_Trieb
2136,131,80,1.637500,101,71,36,0,0,0.005200,0.327549,56,5.755652,Kartoffel_Trieb

In [544]:
Zwiebel_Trieb_df = training_df.loc[training_df['Label']=='Zwiebel_Trieb']
Zwiebel_Trieb_df.shape

(193, 13)

In [545]:
Zwiebel_Trieb_df.head()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
1699,162,121,1.338843,83,62,47,43,112,0.644526,0.375988,63,8.539136,Zwiebel_Trieb
1700,220,99,2.222222,111,109,101,630,625,0.428030,0.151553,62,7.606347,Zwiebel_Trieb
1701,285,130,2.192308,110,96,59,3691,2665,0.351188,0.123030,65,7.036383,Zwiebel_Trieb
1702,269,112,2.401786,101,89,58,3446,2515,0.361142,0.156688,53,6.438696,Zwiebel_Trieb
1703,255,72,3.541667,85,97,54,4906,2907,0.175817,0.130934,48,6.386393,Zwiebel_Trieb

In [546]:
Zwiebel_Trieb_df.tail()

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints,Label
1887,295,205,1.439024,94,88,53,7027,6249,0.358842,0.111738,77,7.205607,Zwiebel_Trieb
1888,254,138,1.840580,105,91,55,2796,2028,0.437136,0.218090,59,6.537939,Zwiebel_Trieb
1889,283,127,2.228346,109,95,58,3836,2474,0.356724,0.135646,70,6.160328,Zwiebel_Trieb
1890,161,109,1.477064,101,81,65,643,462,0.512394,0.177196,48,4.060629,Zwiebel_Trieb
1891,152,149,1.020134,127,128,130,427,593,0.460570,0.138419,28,9.513455,Zwiebel_Trieb

In [547]:
Karotte_df.describe().iloc[1:3]

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints
mean,222.892768,61.214464,4.182153,134.366584,84.177057,48.089776,34.246883,115.284289,0.550131,0.292904,30.431421,7.636423
std,42.939213,24.997678,1.946815,25.771550,20.463530,19.797902,134.072206,498.853625,0.250927,0.150963,18.220481,4.403209

In [548]:
Kartoffel_df.describe().iloc[1:3]

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints
mean,111.016129,87.639113,1.284700,107.270161,81.125000,46.856855,3.540323,0.227823,0.762981,0.800146,31.719758,12.663905
std,46.386995,35.381568,0.274077,30.707081,25.602567,18.556539,33.813427,1.907590,0.138956,0.114850,34.825628,11.934832

In [549]:
Zwiebel_df.describe().iloc[1:3]

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints
mean,151.566292,123.233708,1.292243,120.653933,80.044944,56.337079,9.528090,2.224719,0.542308,0.585236,56.608989,7.751903
std,40.075922,40.501632,0.331148,23.314280,20.481540,18.927876,50.002317,16.390198,0.303746,0.235575,37.528847,2.763085

In [550]:
Karotte_Trieb_df.describe().iloc[1:3]

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints
mean,244.848739,141.442577,2.106349,105.523810,93.773109,61.775910,3418.792717,4173.873950,0.298454,0.19517,193.761905,4.728721
std,35.638393,53.407540,1.189393,24.912377,19.353499,14.907399,2649.517237,2649.018668,0.214323,0.11242,107.251185,0.888287

In [551]:
Kartoffel_Trieb_df.describe().iloc[1:3]

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints
mean,153.171429,121.236735,1.303273,122.995918,95.910204,60.767347,0.053061,6.346939,0.657355,0.615555,63.975510,6.894475
std,35.259623,35.230405,0.246100,17.206675,17.633336,16.322033,0.385762,34.258869,0.228296,0.214316,32.322647,2.744413

In [552]:
Zwiebel_Trieb_df.describe().iloc[1:3]

,Hight,Width,Aspect ratio,R,G,B,green pixels,green onion pixels,ratio area,circularity,keypoints,mean keypoints
mean,210.082902,115.077720,1.885767,97.901554,81.937824,64.170984,1203.880829,897.243523,0.392608,0.271568,59.046632,6.841760
std,52.040182,27.979702,0.517908,21.030871,17.732570,17.317103,1838.066449,1173.605621,0.208716,0.155803,20.797959,1.509396