In [1]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [10]:
X, y = load_iris(return_X_y=True)

In [12]:
X[:3]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [11]:
df = pd.DataFrame(X)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [13]:
df['4'] = y
df.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [15]:
dataset = np.array(df)
dataset[:4]

array([[5.1, 3.5, 1.4, 0.2, 0. ],
       [4.9, 3. , 1.4, 0.2, 0. ],
       [4.7, 3.2, 1.3, 0.2, 0. ],
       [4.6, 3.1, 1.5, 0.2, 0. ]])

In [7]:
for idx in range(X.shape[1]):
    print(idx)

0
1
2
3

In [24]:
y = []
for row in dataset:
    y.append(row[-1])
s = set(y)
print(s)

s1 = list(set(dataset[:,-1]))
print(s1)

{0.0, 1.0, 2.0}
[0.0, 1.0, 2.0]

In [29]:
li = [1, 0, 2, 1, 0, 0 ,0, 2, 1, 2, 1, 1 ,2 ,0, 1]
p = li.count(2)
p

4